<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./layout/header') %>
</head>
<body>
    <%- include('./layout/navbar') %>
    <header class="banner">
        <h1 class="banner__title"><%= blog.title %></h1>
        <p class="banner__text"><%= blog.description %></p>
        <button type="button" data-action="/delete-blog/<%= blog._id %>" class="btn">Delete</button>
    </header>

    <script>
        const deleteBtn = document.querySelector('.btn')
        deleteBtn.addEventListener('click', function(){
            fetch(this.dataset.action, {
                method: 'DELETE'
            })
            .then((res)=> res.json())
            .then((result)=> {
                window.location.href = result.redirect
            })
            .catch((err)=>{
                console.error(err)
            })
        })
    </script>
</body>
</html>